dataclasses_json
flytekitplugins-deck-standard
flytekitplugins-pandera
flytekitplugins-spark
flytekit>=1.7.0
ipykernel
joblib
modin
palmerpenguins
pandas
pyspark<3.4.0
scikit-learn
torch
wheel
grpcio==1.51.3
