dataclasses_json
flytekitplugins-deck-standard
flytekitplugins-envd
flytekitplugins-kfpytorch
flytekitplugins-mlflow
flytekitplugins-pandera
flytekitplugins-papermill
flytekitplugins-spark
flytekitplugins-whylogs
flytekit==1.7.1b1
grpcio==1.51.3
ipykernel
ipython==8.10.0
joblib
mlflow
modin
palmerpenguins
pandas
pyspark<3.4.0
scikit-learn
torch --index-url https://download.pytorch.org/whl/cpu
typing_extensions
wheel
whylogs
